*{
    padding: 0;
    margin: 0;
}
body{
    font: 1rem/1.5 'Poppins';
    background-color: #FFFCEA;
    
}

.bg-green-marcellos{
    background-color: #0C9A4D;
}

.banner-home{
    height: auto; 
    width: 55%; 
    object-fit: cover;
}
.user-img{
    height: 48px;
    padding: 8px;
}
.img-slider{
    height: 60vh; 
    width: 100%; 
    object-fit: cover;
}

.card-home{
    background-color: #861328;
}

.links-footer a{
    text-decoration: none;
    color: white;
}

.links-footer a:hover{
    color: black;
}

@media screen and (max-width: 400px) {
    .marcellos-img{
        display: none;
    }

}